.screen {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}

.nav {
    border: 1ps solid black;
    padding: 5px;
    margin: 5px 0px;
    background: #cccccc;
}

div.randomStats > div > span {
    width: 120px;
    display: inline-block;
}

div.section {
    padding: 10px;
}